@font-face {
  font-family: "DM Sans";
  font-weight: 400 500;
  src: url("../assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400 500;
  src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}

:root {
  --primary-subdued: hsl(254, 88%, 90%);
  --primary-base: hsl(256, 67%, 59%);
  --accent-subdued: hsl(31, 66%, 93%);
  --accent-base: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 7%);

  --fs-reg: 1.25rem;

  --fs-md: 2.25rem;
  --fs-lg: 3rem;
  --fs-xl: 4rem;
}

@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
    line-height: 1.3;
  }

  body {
    margin: 32px;
    color: var(--black);
    font-size: var(--fs-reg);
    background: var(--off-white);
  }

  h1,
  h2 {
    color: var(--heading-foreground, inherit);
    font-size: var(--heading-font-size, var(--fs-md));
    line-height: 1.1;
    /* text-wrap: balance; */

    span {
      display: var(--heading-span-display, inline);
      color: var(--heading-span-foreground, var(--black));
      font-size: var(--heading-span-font-size, inherit);
      font-style: var(--heading-span-style, normal);
    }
  }
}

@layer layout {
    .bento-grid {
        display: grid;
        gap: 24px;
        max-inline-size: auto;
        grid-template-areas: 
            'one'
            'two'
            'three'
            'four'
            'five'
            'six'
            'seven'
            'eight';
        
        @media (width > 960px){
            grid-template-areas: 
            'seven one one four'
            'seven two three four'
            'eight two three four'
            'eight six five five'
            ;
        }
    }
    .bento-grid>* {
    background-color: var(--white);
    padding: 32px;
    border-radius: 20px;
    display: grid;
    align-content: center;
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
    gap:21px;

}

    .bento-grid>:nth-child(1){
        grid-area: one;
        background-color: var(--primary-base);
        color: var(--white);

        >h1 {
            font-size: var(--fs-lg);
        }
        >img {
            width: 70%;
            
        }
    }
  
    .bento-grid> :nth-child(2)  {
        grid-area: two;

        >img { 
        order: -1;}
    }
    .bento-grid> :nth-child(3) {
         grid-area: three;
        background-color: var(--accent-base);
          img {
            width: 100%;
            margin-bottom: -130px;
        }
        overflow: clip;
    }
    .bento-grid> :nth-child(4) {
         grid-area: four;
        background-color: var(--primary-subdued);

        img {
            width: 120%;
            margin-right: -100px;
           
        };
        overflow: clip;

    }
    .bento-grid> :nth-child(5) {
        grid-area: five;
        background-color: var(--primary-base);
        color: var(--white);
        grid-template-columns: 1fr 1fr;


        >img { 
            width: 100%;
            order: -1;};
        
    }
    .bento-grid> :nth-child(6)  {
         grid-area: six;
        background-color: var(--white);

        span {
            display: block;
            color: var(--black);
            font-size: var(--fs-reg);
        }

    }
    .bento-grid> :nth-child(7)  {
         grid-area: seven;
        background-color: var(--accent-subdued);

        >img {
            width: 70%;
        }

    }
    .bento-grid> :nth-child(8)  {
         grid-area: eight;
        background-color: var(--accent-base);

    }
}



@layer utilities {
  .visually-first {
    order: -1;
  }
}